.navbar {
    &.bg-transparent {
        @media only screen and (max-width: 991px) {
            background-color: #212529 !important;
        }
    }

    .btn-custom {
        padding: 0.64em 0.987em !important;
    }

    position: absolute;
    z-index: 999999;

    @media only screen and (max-width: 991px) {
        position: fixed;
    }
}

.home {
    .btn-custom {
        font-size: 0.9375rem;
        font-weight: bold;
        border-radius: 0;
        padding: 0.625em 1.9375em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &-hero {
        background-image: url('./../../images/hero.jpg');
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 100vh;
        background-position: 0 0;
        background-size: 100% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        padding: 2rem 0;

        @media (max-width: 768px) {
            padding-top: 120px;
        }

        &-description {
            padding-top: 60px;
        }

        @media only screen and (max-width: 500px) {
            min-height: 70vh;
            background-size: auto 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        h1 {
            font-weight: bold;
            font-size: 2.5rem;
            margin-bottom: 2rem;

            @media only screen and (max-width: 768px) {
                font-size: 1.75rem;
            }
        }

        h2 {
            font-weight: 300;
            font-size: 1.5rem;

            @media only screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
        }

        &-icons {
            align-self: flex-end;
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 767px) {
                align-self: center;
                margin-top: 1rem;
            }
        }

        &-icon {
            background-color: rgba(255, 255, 255, 0.65);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 28px;
            margin-right: 0.25rem;
            transition: 0.3s;

            &:hover {
                background-color: #fafafa;
                cursor: pointer;
            }
        }
    }

    &-find {
        text-align: center;
        padding: 70px 0;

        h2 {
            font-size: 2.5rem;
            color: #222222;
            margin-bottom: 2rem;
        }

        .row {
            img {
                height: 100%;
                width: auto;
                max-width: 200px;
                max-height: 120px;
                margin-bottom: 1.5rem;
            }
        }
    }

    &-matter {
        padding: 50px 0;
        background-color: #f2f2f2;
        text-align: center;

        &-top {
            h3 {
                font-size: 2.5rem;
                font-weight: 400;
                color: #515151;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.1rem;
                font-weight: 300;
                color: #515151;
                margin-bottom: 2rem;
            }
        }

        &-item {
            img {
                max-width: 80%;
                max-height: 200px;
                margin-bottom: 1.5rem;
            }

            h4 {
                color: #3f3f3f;
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: 1.5rem;
            }

            p {
                color: rgb(111, 121, 132);
                font-size: 0.95rem;
                font-weight: 300;
            }
        }
    }

    &-footer {
        text-align: center;
        background-color: #cdcdcd;
        padding: 70px 0;

        .row {
            img {
                width: 100%;
                max-width: 300px;
                margin: auto;
                margin-bottom: 1rem;
            }

            h3 {
                color: #222222;
                font-size: 1.75rem;
                margin-bottom: 1rem;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                text-align: left;
                width: max-content;
                max-width: 90vw;
                margin: auto;
                margin-left: 1rem;
                font-size: 0.85rem;

                li {
                    margin: 0.5rem 0;

                    &:before {
                        content: '';
                        background: url(../../images/arrow.jpg);
                        width: 20px;
                        float: left;
                        height: 20px;
                        position: relative;
                        z-index: 9;
                        background-size: 100% 100%;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.layout {
    background-image: url('./../../images/Loginimg.jpg');
    min-width: 100vw;
    min-height: 100vh;
    background-position: 0 0;
    background-size: 100% auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px 0 50px;
}

.universityLogoRow img {
    width: 150px;
    height: 110px;
}

.universityLogoRow {
    padding: 25px;
    margin-left: 0px;
    margin-right: 0px;
}
.button-group {
    button {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-width: 2px;
            border-right-width: 1px;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-width: 2px;
            border-left-width: 1px;
        }

        &:hover {
            color: white !important;
        }
    }
}

.no-button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
